[Unit]
Description=Amazon Web Service S3 client for ReadyNAS
After=readynasd.service

[Service]
ExecStart=/usr/sbin/ng-csd -s s3 -l 1
Restart=on-failure

[Install]
WantedBy=multi-user.target
