[Unit]
Description=Dropbox 2 client for ReadyNAS
After=readynasd.service

[Service]
ExecStart=/usr/sbin/ng-csd -s Dropbox -l 1
Restart=on-failure

[Install]
WantedBy=multi-user.target
