[Unit]
Description=One Drive Service client for ReadyNAS
After=readynasd.service

[Service]
ExecStart=/usr/sbin/ng-csd -s OneDrive -l 1
Restart=on-failure

[Install]
WantedBy=multi-user.target
