[Unit]
Description=TiVo recording archiver
Requires=avahi-daemon.service

[Service]
ExecStart=/usr/sbin/readytivod -S

[Install]
WantedBy=multi-user.target
