[Unit]
Description=Replicate Backup Solution
Requires=leafp2p.service
After=leafp2p.service

[Service]
Type=forking
ExecStart=/opt/replication/etc/init.d/replication.sh start
ExecStop=/opt/replication/etc/init.d/replication.sh stop

[Install]
WantedBy=multi-user.target
